
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatibe',content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='application-name',content='Sebastiaan Van Hoecke')
    meta(name='author',content='Sebastiaan Van Hoecke')
    meta(content='Sebastiaan Van Hoecke',property='og:site_name')
    meta(content='Sebastiaan Van Hoecke',property='og:title')
    meta(property='og:description',content='Sebastiaan Van Hoecke')
    meta(content='website',property='og:type')
    meta(name='apple-mobile-web-app-capable',content='yes')
    meta(name='apple-mobile-web-app-title',content='Sebastiaan Van Hoecke')
    meta(name='mobile-web-app-capable',content='yes')
    link(rel='icon',href='img/favicon.png',sizes='16x16',type='image/png')
    link(rel='icon',href='img/favicon.png',sizes='32x32',type='image/png')
    link(rel='icon',href='img/favicon.png',sizes='48x48',type='image/png')
    link(rel='icon',href='img/favicon.png',sizes='62x62',type='image/png')
    link(rel='icon',href='img/favicon.png',sizes='192x192',type='image/png')
    title CV Sebastiaan Van Hoecke
    link(rel='stylesheet',href='css/cvmanpage.css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)
      },i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-78158473-3', 'auto');
      ga('send', 'pageview');

  body
    pre.cvheader SEBASTIAAN(2)                  Linux User's Manual                  SEBASTIAAN(2)
    h1 NAME
    p.text SEBASTIAAN VAN HOECKE
    h1 SYNOPSIS
    p.text sebastiaan [--linux]
      br
      | [--networking]
      br
      | [--developer]
      br
      | [--AI]
      br
      | [--operating systems]
      br
      | [--red teaming]
    h1 SUMMARY
    p.text I have a realistic logical mind which can quickly adapt to change. I am a creative, curious, out-of-the-box thinking person, who is determined and eager to learn new things.
    p.text I have a genuine interest in Linux, networking, operating systems, web design/development , AI and Pentesting.
    h1 EDUCATION
    p.text overview
    p.doubletext At High School of Ghent
      br
      | 2014-... Bachelor: Applied Informatics 
    p.doubletext 
      | At University of Ghent 
      br
      | 2013-2014 Bachelor: Bioscience 
    p.doubletext 
      | At Heilige Maagd College Dendermonde 
      br
      | 2007-2013 ASO: Modern Languages and Science 
    h1 STUDENT-JOBS
    p.text overview
    p.doubletext 07-2016 Jobstudent Containerpark Wetteren 
      br
      | 07-2015 Jobstudent Containerpark Wetteren 
      br
      | 08-2014 Jobstudent Containerpark Dendermonde 
      br
      | 08-2013 Jobstudent Containerpark Berlare 
      br
      | 07-2012 Jobstudent Containerpark Wetteren 
      br
      | 08-2011 Jobstudent Containerpark Dendermonde
    h1 SKILLS
    p.text --languages
    p.doubletext Dutch     -Native proficiency
      br
      | English   -Full professional proficiency
      br
      | German    -Elementary proficiency
      br
      | French    -Limited working proficiency
      
    p.text --ICT
    p.doubletext Linux, Linux security, Linux scripting
      br
      | Windows server, powershell
      br
      | BSD
      br
      | HTML, CSS, JS, PHP
      br
       Python, Java, C, ASM, .NET, SQL
      br
      | CCNA, Docker, LXC, Vagrant
      br
      | Penetration testing
      br
      | Continuous integration, Orchestration
      br
      | Configuration management

    p.text --soft-skills
    p.doubletext Teamplayer  Creative  Curious  Realistic  Thinks out of the box
    h1 OTHER
    p.text I play competitive table tennis, Once in awhile I go out with a solid group of friends, I listen to electronic music or immortalized classics. To maintain a healthy mind in a healthy body I try to run three times a week. 
    p.text In the field of ICT, I adore Linux, I have my own homeserver where I try a lot of things on, on this server I run a markdown platform where I save guides and cheat sheets on. I like to configure servers or disassemble computers, I’m also busy with design; web design, web development, pentesting, creating my own operating system and creating my own search engine. I'm also webmaster of my table tennis club ttcteneramonda.

    p.text When not sitting behind a computer you may find me at conferences, I like to meet new people and talk about the new technologies.
    p.text
    h1 SEE ALSO
    p.text
      br
      | * E-mail: sebastiaan.vanhoecke@hotmail.be
      br
      | * Phone: 0476/079332
      br
      | * Address: 9200 Dendermonde, Belgium

    pre.cvheader SEBASTIAAN(2)                  Linux User's Manual                  SEBASTIAAN(2)
    footer

