//compile with pug
doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatibe',content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='application-name',content='Sebastiaan Van Hoecke')
    meta(name='description',content='Welcome to the portfolio website of Sebastiaan Van Hoecke, on this websiteyou will find more information about me.')
    meta(name='subject',content='Sebastiaan Van Hoecke portfolio')
    meta(name='summary',content='Sebastiaan Van Hoecke portfolio')
    meta(name='format-detection',content='telephone=no')
    meta(name='author',content='Sebastiaan Van Hoecke')
    meta(content='Sebastiaan Van Hoecke',property='og:site_name')
    meta(content='Sebastiaan Van Hoecke',property='og:title')
    meta(property='og:description',content='Sebastiaan Van Hoecke')
    meta(content='website',property='og:type')
    meta(name='apple-mobile-web-app-capable',content='yes')
    meta(name='apple-mobile-web-app-title',content='Sebastiaan Van Hoecke')
    meta(name='mobile-web-app-capable',content='yes')

    title='Sebastiaan Van Hoecke portfolio'

    link(rel='icon',href='img/favicon.png',sizes='16x16',type='image/png')
    link(rel='icon',href='img/favicon.png',sizes='32x32',type='image/png')
    link(rel='icon',href='img/favicon.png',sizes='48x48',type='image/png')
    link(rel='icon',href='img/favicon.png',sizes='62x62',type='image/png')
    link(rel='icon',href='img/favicon.png',sizes='192x192',type='image/png')
    link(rel='canonical',href='https://sevaho.com/')
    link(rel='canonical',href='https://sevaho.com/',hreflang='en')

    link(rel='stylesheet',href='css/bootstrap.css')
    link(rel='stylesheet',href='css/main.css')
    //link(rel='stylesheet',href='css/wdBuddy.css')

    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/1.0.1/dist/progressbar.js')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)
      },i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-78158473-3', 'auto');
      ga('send', 'pageview');

  #loader-wrapper
    #loader

  body#top

    section.page-welcome
      #terminal.centered
        #terminalTitle Terminal
        #terminalText [Sebastiaan@VanHoecke ~]$
          span.typed
        #arrow.bounce
          a(href='#page-whoami')
            img(src='img/arrow1.png',width='45',height='34')
    .main

      //menu for mobile
      nav.menu(tabindex='0')
        .smartphone-menu-trigger
          .bar1
          .bar2
          .bar3
        ul
          li
            a(href='#page-whoami') About me
          li
            a(href='#page-interests') Interests
          li
            a(href='#page-skills') Skills
          li
            a(href='#page-curriculumvitae') Resume
          li
            a(href='#page-italent') Italent
          li
            a(href='#page-projects') Projects
          li
            a(href='#page-footer') Contact

      //navbar for desktop
      //shouldn't be seperate but I'm lazy
      navbar
        ul
          li
            a(href='#page-whoami') About me
          li
            a(href='#page-interests') Interests
          li
            a(href='#page-skills') Skills
          li
            a(href='#page-curriculumvitae') Resume
          li
            a(href='#page-italent') Italent
          li
            a(href='#page-projects') Projects
          li
            a(href='#page-footer') Contact


      section.page-whoami#page-whoami
        .container
          .section-title About me
          .spacer.centered
          .row
            .col-md-1
            .col-md-5.fadeinonscroll
              img(src='img/profielA.png')
            .col-md-1
            .col-md-5.article.fadeinonscroll
              p I am Sebastiaan Van Hoecke and I study Applied Informatics at Ghent. My passion goes out to GNU/Linux, AI and networking as you will notice.
              p I am 21 years old and live in Dendermonde.
              p Next to school I play competitive table tennis, every week I go out with a solid group of friends, I listen to electronic music and to stay healthy I run three times a week and do some workout.

      section.page-interests#page-interests
        .container
          .section-title Interests
          .spacer.centered
          .row.centered
            .col-md-4
              .textblock
                h2 Linux & Foss
              .textblockhide
                h2 Linux & Foss
                .subspacer.centered
                p My main interest is GNU/Linux: the kernel, servers, playing with ARM devices or using it as my daily drive. I am also a big enthusiast of open source and hacking software.
            .col-md-4
              .textblock
                h2 Networking & Security
              .textblockhide
                h2 Networking & Security
                .subspacer.centered
                p I always had a keen interest in the internet, how does it work, who controls it, and so on. At home I have built a small network existing out of a couple of servers.
            .col-md-4
              .textblock
                h2 Web Design & Development
              .textblockhide
                h2 Web Design & Development
                .subspacer.centered
                p 
                  | Building software on the web is always fun, you can use it anywhere you want. I like to design or make a beautiful website. I made this website and 
                  a(target='_blank',href='http://ttcteneramonda.be') ttcteneramonda
                  |  from scratch.
            .col-md-4
              .textblock
                h2 Operating Systems
              .textblockhide
                h2 Operating Systems
                .subspacer.centered
                p But how does this work?! That is a question I ask myself a lot. I want to know how something works, try to build it myself and make it better.
            .col-md-4
              .textblock
                h2 AI
              .textblockhide
                h2 AI
                .subspacer.centered
                p AI and machine learning are the future, nothing can change that. I am interested in new machine learning algorithms and AI software/robotics.
            .col-md-4
              .textblock
                h2 Red Team
              .textblockhide
                h2 Red Team
                .subspacer.centered
                p It started with watching Mr. Robot, since then I want to learn everything about pentesting, hardening systems and white hat hacking.
            
      section.page-skills#page-skills
        .container
          .section-title Skills
          .spacer.centered
          .row
            .col-md-2
            .col-md-8
              #javascriptSkill.circleSkills
              #htmlcssSkill.circleSkills
              #cSkill.circleSkills
              #pythonSkill.circleSkills
            .col-md-2
          .row
            .col-md-2
            .col-md-8
              #phpSkill.circleSkills
              #bashSkill.circleSkills
              #javaSkill.circleSkills
              #csharpSkill.circleSkills
            .col-md-2
          .row
            .col-md-3
            .col-md-6
              
            .col-md-3
          .row
            .col-md-3
            .col-md-6
              h2 other
              p CCNA, Docker, LXC, Vagrant, Pentesting, Virtualization, Continuous Integration, Linux-Windows-BSD server knowledge, Server Security, Assembly, OS Development.
              h2 Soft skills
              p I have a realistic logical mind which can quickly adapt to change. I am a creative, curious, out-of-the-box thinking person, who is determined and eager to learn new things.
            .col-md-3
          

      section.page-curriculumvitae#page-curriculumvitae
        .container
          .section-title Curriculum Vitae
          .spacer.centered
          .row
            .col-md-3
            .col-md-6
              h2 My resume
              .subspacer.centered
              a(href='CV_Sebastiaan_Van_Hoecke.pdf',download)
                img(src='img/resumePdf.png',width='65',height='65')
              p or
              a(target='_blank',href='cv.html') View in browser
            .col-md-3


      section.page-italent#page-italent
        .container
          .section-title Italent
          .spacer.centered
          .row
            .col-md-3
            .col-md-6
              h2 What is Italent?
              .subspacer.centered
              p.fadeinonscroll At school we have a course named Italent, it's a course that helps us knowing ourselves, what we want, who we are and what we are able to do. We analyze this on the base of SWOT analysis, personality tests like MBTI, Ofman, DISC and more. The main focus is discovering our talents and to get the most out of it. Other good things about this course are that we learn to be confident, independent and to build a personal portfolio.
              h2.secondh2tagmargintop Personality tests and reports
              .subspacer.centered
              p.fadeinonscroll You can read all my personality tests and reports here, it's all in Dutch:
              //a(target='_blank',href='italent/index.html') personalitytestsandreports
              a Nothing to show yet.
            .col-md-3


      section.page-projects#page-projects
        .container
          .section-title Projects
          .spacer.centered
          .row
            .desktop
              .col-md-3
                .animatedimage
                  h2 Home servers
                  p At home I have a couple of servers, but I mainly configure my Raspberry Pi 3B. This website for example is hosted on it and also my markdown platform. Server hardening is one of my favourite things to do. Next to hosting and securing, the RPI is also used as FTP, datacenter, ssh tunnel and vpn. The markdown platform is made to make my markdown guides and cheat sheets more easily to read and navigate trough.
                  a(target='_blank',href='https://sevaho.com/platform') MarkdownPlatform
                img(src='img/markdownplatform.png')
              .col-md-3
                .animatedimage
                  h2 Pentesting
                  p One of my goals is to become an ethical hacker, pentester and security expert. With this goal in mind I try to build my own penetration testing framework where I automate tests and deploy own made tools.
                img(src='img/pentester.jpg')
              .col-md-3
                .animatedimage
                  h2 IGY
                  p IGY or 'I GUIDE YOU' is a project still in it's earliest phase. IGY will be an AI search engine with full speak capabilities. The goal is to be able to browse the internet with only your voice.
                img(src='img/igy.png')
              .col-md-3
                .animatedimage
                  h2 Myos
                  p Building things from scratch is always a hard task, but hard does not mean not fun. I am trying to build an operating system from scratch, the purpose is to obtain a keen eye in how things work. 
                img(src='img/os.jpg')

            //Need to fix this, duplicate code sux balls.
            .mobile
              .col-md-3
                .notanimatedimagemobile
                  h2 Home servers
                  p At home I have a couple of servers, but I mainly configure my Raspberry Pi 3B. This site for example is hosted on it and also my markdown platform. Server hardening is one of my favourite things to do. Next to hosting and securing, the RPI is also used as FTP, mediacenter, ssh tunnel and vpn. The markdown platform is made to make my markdown guides and cheatsheets more easily to read and navigate trough.
                  a(target='_blank',href='https://sevaho.com/platform') MarkdownPlatform
                img(src='img/markdownplatform.png')
              .col-md-3
                .notanimatedimagemobile
                  h2 Pentesting
                  p One of my goals is to become an ethical hacker, pentester and security expert. With this goal in mind I try to build my own penetration testing framework where I automate tests and deploy own made tools.
                img(src='img/pentester.jpg')
              .col-md-3
                .notanimatedimagemobile
                  h2 IGY
                  p IGY or 'I GUIDE YOU' is a project still in it's earliest fase. IGY will be an AI search engine with full speak capabilities. The goal is to be able to browse the internet with only your voice.
                img(src='img/igy.png')
              .col-md-3
                .notanimatedimagemobile
                  h2 Myos
                  p Building things from scratch is always a hard task, but hard does not mean not fun. I am trying to build an operating system from scratch, the purpose is to obtain a keen eye in how things work. 
                img(src='img/os.jpg')

      section.page-end#page-end
         
      section.page-footer#page-footer
        .container
          .row
            .col-md-6
              #footertext
                p © 2017 | Sebastiaan Van Hoecke
                p sebastiaan.vanhoecke@hotmail.be
              .buttons
                a(target='_blank',href='https://www.facebook.com/sebastiaan.vanhoecke')
                  img#facebook(src='img/facebook.png',alt='facebook')
                a(target='_blank',href='https://be.linkedin.com/in/sebastiaan-van-hoecke-05a7a0128')
                  img#linkedin(src='img/linkedin.png',alt='linkedin')
                a(target='_blank',href='https://github.com/sevaho')
                  img#github(src='img/github.png',alt='github')
                a(target='_blank',href='https://plus.google.com/103254394194333878195')
                  img#googleplus(src='img/googleplus.png',alt='googleplus')
                a(target='_blank',href='https://soundcloud.com/traumtanzerofficial')
                  img#soundcloud(src='img/soundcloud.png',alt='soundcloud')
            .col-md-6
              #form
                form#contactform
                  .field
                    input(type='text',id='name',placeholder='Name',name='name')
                  .field
                    input(type='email',id='email',placeholder='Email',name='email')
                  .field
                    textarea(id='message',placeholder='Leave me a message.',name='message')
                  .field
                    button(type='submit',value='Send') Submit
                .alerttrue.centered Thanks for stopping to say Hello!


    script(src='js/typed.js')
    script.
  

      $('#arrow').hide();
      $('.fadeinonscroll').css("opacity", "0");

      $(window).load(function(){
        $("#loader-wrapper").fadeOut("slow");
        terminal();
        ajaxform();
      });

      function arrow(){ $("#arrow").fadeIn("slow"); }
      //terminal welcome screen
      function terminal(){
        $(function(){
          $(".typed").typed({
            strings: [" Hello there."," egrep -i 'Sebastiaan' | whoami <br> <br>. <br> ├── Student Applied Informatics @ Ghent<br>├── Linux enthusiast<br> │   ├──  Security<br> │   ├── Foss <br> │   ├── zsh,vim + tmux all the way<br> │   └── Ethical hacker<br>  ├──  Networking<br> ├──  Developer <br>  └──  ... "],
            typeSpeed: 10,
            backDelay: 150,
            cursorChar: "█",
            backSpeed: 80,
            startDelay: 2000,
            callback: function(){
              arrow();
            }
          });
        });
      }

      counter1 = true;
      //scroll animation - fadein & change navbar color
      $(window).scroll(function(){
        $('.fadeinonscroll').each( function(i){
          var bottom_of_object = $(this).offset().top + $(this).outerHeight() -100;
          var bottom_of_window = $(window).scrollTop() + $(window).height();
          if( bottom_of_window > bottom_of_object  ){
            $(this).animate({'opacity':'1'},1150);
          }
        });
        if ($(this).scrollTop() > 999){
          $('navbar').addClass('navbarfixed');
        } else {
          $('navbar').removeClass('navbarfixed');
        }
        $('section').each(function() {
          if($(window).scrollTop() >= $(this).offset().top-95 ){
            var id = $(this).attr('id');
            $('navbar ul li a').css('color','#555555');
            $('navbar ul li a[href*="'+id+'"]').css('color','#cd660e');
          }
        });
        $('.page-skills').each( function(i){
          var bottom_of_object = $(this).offset().top + $(this).outerHeight() -200;
          var bottom_of_window = $(window).scrollTop() + $(window).height();
          if( bottom_of_window > bottom_of_object && counter1 != false || screen.width < 900 && counter1 != false ){
            new ProgressBar.Circle('#javascriptSkill', { strokeWidth: 6, easing: 'easeInOut', duration: 2400, color: '#e6d037', trailColor: '#eee', trailWidth: 1, svgStyle: null, text:{ value: 'Javascript'}}).animate(0.80);
            new ProgressBar.Circle(htmlcssSkill, { strokeWidth: 6, easing: 'easeInOut', duration: 2400, color: '#eb612f', trailColor: '#eee', trailWidth: 1, svgStyle: null, text:{ value: 'HTML & CSS'} }).animate(0.91);
            new ProgressBar.Circle(bashSkill, { strokeWidth: 6, easing: 'easeInOut', duration: 2400, color: '#89da49', trailColor: '#eee', trailWidth: 1, svgStyle: null, text:{ value: 'Shell'} }).animate(0.81);
            new ProgressBar.Circle(javaSkill, { strokeWidth: 6, easing: 'easeInOut', duration: 2400, color: '#bd8320', trailColor: '#eee', trailWidth: 1, svgStyle: null, text:{ value: 'Java'} }).animate(0.75);
            new ProgressBar.Circle(pythonSkill, { strokeWidth: 6, easing: 'easeInOut', duration: 2400, color: '#4286b3', trailColor: '#eee', trailWidth: 1, svgStyle: null, text:{ value: 'Python'} }).animate(0.67);
            new ProgressBar.Circle(phpSkill, { strokeWidth: 6, easing: 'easeInOut', duration: 2400, color: '#6273a6', trailColor: '#eee', trailWidth: 1, svgStyle: null, text:{ value: 'PHP'} }).animate(0.70);
            new ProgressBar.Circle(cSkill, { strokeWidth: 6, easing: 'easeInOut', duration: 2400, color: '#666666', trailColor: '#eee', trailWidth: 1, svgStyle: null, text:{ value: 'C'} }).animate(0.57);
            new ProgressBar.Circle(csharpSkill, { strokeWidth: 6, easing: 'easeInOut', duration: 2400, color: '#119400', trailColor: '#eee', trailWidth: 1, svgStyle: null, text:{ value: 'C#, .NET'} }).animate(0.65);
            counter1 = false;
          }
        });
      });

           $(window).ready(function(){
        //page-projects image animation
        $('.animatedimage').hover(function(){
          $(this).animate({'opacity':'1'},300);
          $(this).css('background-color','rgba(45,51,61, 0.80)');
          $(this).siblings('img').addClass('zoomin');
        }, function(){
          $(this).animate({'opacity':'0'},300);
          $(this).siblings('img').removeClass('zoomin');
          });

        $('navbar ul li a').hover(function(){
          $('navbar ul li a').css('opacity','0.4'); 
          $(this).css('opacity','1');
        }, function(){
          $('navbar ul li a').css('opacity','1'); 
          });

        $('.page-interests div[class^=col-md]').hover(function(){
          $(this).unbind('mouseenter mouseleave');
          $(this).find('.textblock').fadeOut(); 
          $(this).find('.textblockhide').delay(600).fadeIn(600); 
        });

        function textblockBackToHide(){
          $('.page-interests div[class^=col-md]').unbind('mouseenter mouseleave')
          $('.page-interests div[class^=col-md] .textblockhide').delay(6000).fadeOut(); 
          $('.page-interests div[class^=col-md] .textblock').delay(6000).slideDown(800); 
          return false;
        }

        //smooth page navigation 
        var $root = $('html,body');
        $(function(e) {
          $('a[href*="#"]:not([href="#"])').on('click',function(e) {
            if (this.hash !== ""){
              e.preventDefault();
              $root.animate({ scrollTop: $(this.hash).offset().top },900 ); 
              window.location.hash = "";
            }
          });
        });
      });

      //ajax form
      function ajaxform(){
        function validateEmail(email) {
          var regEmail = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return regEmail.test(email);
        }
        $(document).ready(function() {
          $('#contactform').submit(function(e) {
            var name = $('#name')
            var email = $('#email')
            var message = $('#message')

            if(validateEmail(email.val()) == false) { $('#email').addClass('error'); } else { $('#email').removeClass('error'); }
            if (name.val().length < 4){ $('#name').addClass('error'); } else { $('#name').removeClass('error'); }
            if (message.val().length < 4){ $('#message').addClass('error'); } else { $('#message').removeClass('error'); }
            if (validateEmail(email.val()) == true && name.val().length > 3 && message.val().length > 3){
              $('#contactform').fadeOut(500);
              $('.alerttrue').delay(500).fadeIn(800);
              $.ajax({
                method:'POST',
                url:'https://formspree.io/sebastiaan.vanhoecke@hotmail.be',
                data:{
                  name:name.val(),
                  email:email.val(),
                  message:message.val(),
                },
                datatype:'json',
                success:function(){
                  console.log('Mail succesfully send!'); 
                }
              });
              e.preventDefault();
              $(this).get(0).reset();
            }
            e.preventDefault();
          });
        });
      }
    
    //script(src='js/wdBuddy.js')
